.selected {
  /* border: 5px solid #12b698; */
  filter: drop-shadow(0 0 0.75rem #12b698);
  border-radius: 5px;
}

.disabled {
  border: 1px solid red;
  cursor: not-allowed;
  color: red;
}

.card {
  padding: 10px;
  margin: 5px;
  width: 8em;
}

.overlay {
  padding: 10px;
  margin: 5px;
  width: 8em;
}

.cardContainer {
  padding: 10px;
}
